.link-button {
    background: none;
    border: 0;
    padding: 0;
    text-align: initial;
    text-decoration: underline;
    cursor: pointer;
}

.link-button:hover {
    color: lightcoral;
}

.floating-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: darkturquoise;
    border-radius: 50%;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    box-shadow: 1px 1px 5px 2px #000000b3;
}

.hover-content {
    position: absolute;
    width: max-content;
    top: -100000px;
    left: -100000px;
    z-index: 10;
    background-color: darkturquoise;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 3px 2px 5px 0px #000000b3;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.dialog-backdrop {
    position: fixed;
    inset: 0;
    background-color: #6e6e6e9c;
    display: grid;
    place-content: center;
    z-index: 11;
}

.dialog-container {
    position: relative;
    background-color: darkturquoise;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    box-shadow: 3px 2px 5px 0px #000000b3;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    width: calc(100% + 1rem);
    transform: translateX(-0.5rem);
}

.dialog-title {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
}

.map-markers {
    max-width: 75vw;
    max-height: 75vh;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transform: rotate(-90deg);
}

.map-dot {
    transition:
        fill 0.5s ease-in-out,
        r 0.2s ease-in;
}

@media (hover: hover) {
    .map-markers:hover > .map-dot {
        fill: #00ff39;
        r: calc(var(--initial-radius) * 2px);
    }
}

.multi-select-list {
    overflow-y: auto;
    max-height: 5rem;
    width: max-content;
    border: 1px solid black;

    & label {
        display: block;
        white-space: nowrap;
    }
}
