body {
    margin: 0;
    font-size: 15px;
    overflow: scroll;
}

body:has(.dialog-backdrop) {
    overflow: hidden;
    margin-right: calc(100vw - 100%);
    margin-bottom: calc(100vh - 100%);
}

button {
    font-size: inherit;
}

ul {
    padding: 0 1em;
    margin: 0.5em 0;
}
