html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    --scrollbar-horizontal-height: 0px;
}

body:has(.dialog-backdrop) {
    overflow: hidden;
}

button {
    font-size: inherit;
}

ul {
    padding: 0 1em;
    margin: 0.5em 0;
}

details {
    margin-top: 0.5rem;

    summary {
        cursor: pointer;
    }
}
