body {
    margin: 0;
}

td {
    background: lightgrey;
    padding: 1px 3px;
}

td:nth-child(2n) {
    background: darkgrey;
}

table {
    border-collapse: collapse;
}

thead > td,
tr > td {
    border: 1px solid black;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

tr > td:first-child {
    position: sticky;
    left: 0;
}

tbody > tr:hover > td {
    background-color: lightblue;
}

tbody > tr:hover > td:nth-child(2n) {
    background-color: lightskyblue;
}
