on:
    push:
        branches:
            - main
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6.2.0
              with:
                  node-version: current
                  cache: "npm"
            - run: npm ci
            - run: npm run verify
            - run: npm run build
            - uses: actions/upload-pages-artifact@v4
              with:
                  name: github-pages
                  path: dist
    deploy:
        needs: build
        name: Deploy
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
        steps:
            - uses: actions/deploy-pages@v4
              with:
                  artifact_name: github-pages
